<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<body>
    <div class="login">
        <div style="text-align:center; background:#0000FF;">
            프로그램명
        </div>
        <div class="login_text">
            <input type="text">
            <input type="text">
        </div>
        <div>
            로그인
        </div>
        <div>
            회원가입
        </div>
    </div>
</body>
</html>