
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
#chat_file {
    opacity:0;
}

#chat_send {
    width:100%;
    height:10rem;
    border:none;
    border-top-style:solid;
}

body.dragged .drop_data input[type="file"] {
  /* Make sure it is full screen, whatever the position absolute container */
  position:fixed;
  height:100vh;
  width:100vw;
}

.file_box {
    width:20rem;
    height:10rem;
    background:#00FF00;
}

.file_name {
  color: white;
  background-color: green;
  width: 200px;
  height: 30px;
  padding: 20px;
  border: 5px dashed black;
  margin: 15px;
}
