
body.dragged .file-upload .form-control input[type="file"] {
  /* Make sure it is full screen, whatever the position absolute container */
  position: absolute
  top:50rem;
  height: 200vh;
  width: 200vw;
  z-index: 10002;
  background:#FFE400;
}