* {
    margin-bottom:0;
}
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
#chat_file {
    opacity:0;
}

#chat_send {
    width:100.5%;
    height:7.5rem;
    border:none;
    border-top:3px solid #F18C7E;
    margin-left:-0.45rem;
}

body.dragged .drop_data input[type="file"] {
  /* Make sure it is full screen, whatever the position absolute container */
  position:fixed;
  height:100vh;
  width:100vw;
}

.chat_box_right {
    display:inline-block;
    padding:2px 5px;
    background:#FAED7D;
    max-width:50%;
    border-radius:5px;
}

.chat_box_left {
    display:inline-block;
    padding:2px 5px;
    background:#FFFFFF;
    max-width:50%;
    border-radius:5px;
}

.chat_menu {
    display:flex;
    width:100.8%;
    height:2rem;
    background:#A6A6A6;
    margin-top:-0.25rem;
    margin-left:-0.5rem;
}

.chat_menu label {
    flex:1;
    margin-top:0.25rem;
}
