* {
    margin:0;
    padding:0;
}

body {
    height:100vh;
    background:url(water.jpg) no-repeat center;
    background-size:cover;
    /*animation: animate 3s linear infinite;*/
}

@keyframes animate{
    from {
        background-position: 0% 50%;
    }
    to {
        background-position: 100% 50% 0%;
    }

}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.login {
    position:absolute;
    top:50%;
    left:50%;
    width:20rem;
    height:20rem;
    background:#00FF00;
}

.login_text {

    background:#0F0F0F;
}