{% load static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
    <div style="font-size:5rem; font-weight:bold;">
        PICKSELL
    </div>
    <div class="banner">
        <div>
            <span>HOME</span>
        </div>
        <div>
            <span>WEB</span>
        </div>
        <div>
            <span>MOBILE</span>
        </div>
        <div>
            <span>BANNER</span>
        </div>
        <div>
            <span>GIFTCARD</span>
        </div>
        <div>
            <span>BLOG</span>
        </div>
        <div>
            <span>BUY</span>
        </div>
    </div>